.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#tsparticles {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: -1;
}

.button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #F3BB1A;
  width: 400px;
  height: 50px;
  background: rgb(31, 31, 31);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 0px solid #FFD700;
  box-shadow: 0 0 10px #FFD700, 0 0 10px #FFD700, 0 0 25px #FFD700, 0 0 35px #FFD700;
  transition: 350ms ease-in-out;
}

.button:hover, .button:focus {
  box-shadow: 0 0 15px #FFD700, 0 0 20px #FFD700, 0 0 30px #FFD700, 0 0 40px #FFD700;
  transform: scale(1.05);
}

.button:before, .button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}

.button:before {
  left: 0;
  top: 0;
  border-top: 2px solid #FFD700;
  border-right: 2px solid #FFD700;
  animation: border-top-right 3s infinite alternate;
}

@keyframes border-top-right {
  0% {
    width: 0px;
    height: 0px;
  }

  25% {
    width: 400px;
    height: 0px;
  }

  50% {
    width: 400px;
    height: 48px;
  }

  100% {
    width: 400px;
    height: 48px;
  }
}

.button:after {
  right: 0;
  bottom: 0;
  border-bottom: 2px solid #F3BB1A;
  border-left: 2px solid #F3BB1A;
  animation: border-bottom-left 3s infinite alternate;
}

@keyframes border-bottom-left {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0;
  }

  50% {
    width: 0px;
    height: 0px;
    opacity: 0;
  }

  50.1% {
    width: 0px;
    height: 0px;
    opacity: 1;
  }

  75% {
    width: 400px;
    height: 0px;
    opacity: 1;
  }

  100% {
    width: 400px;
    height: 48px;
    opacity: 1;
  }
}

/* Responsive styling for tablets and below */
@media (max-width: 300px) {
  .button {
    width: 400px;
    height: 40px;
    font-size: 18px;
  }

  @keyframes border-top-right {
    0% {
      width: 0px;
      height: 0px;
    }

    25% {
      width: 400px;
      height: 0px;
    }

    50% {
      width: 400px;
      height: 40px;
    }

    100% {
      width: 400px;
      height: 40px;
    }
  }

  @keyframes border-bottom-left {
    0% {
      width: 0px;
      height: 0px;
      opacity: 0;
    }

    50% {
      width: 0px;
      height: 0px;
      opacity: 0;
    }

    50.1% {
      width: 0px;
      height: 0px;
      opacity: 1;
    }

    75% {
      width: 400px;
      height: 0px;
      opacity: 1;
    }

    100% {
      width: 400px;
      height: 38px;
      opacity: 1;
    }
  }
}

/* Responsive styling for mobile devices */


/* Optionally, you can add an animation for continuous rotation */

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 8s linear infinite;
  -moz-animation: rotating 8s linear infinite;
  -ms-animation: rotating 8s linear infinite;
  -o-animation: rotating 8s linear infinite;
  animation: rotating 8s linear infinite;
  width: 350px;
  height: 350px;
  margin-bottom: 30px;
}

.btn-margin {
  margin-top: 35px;
}

/* Neon Effect */

@keyframes pulse {
  0% { box-shadow: 0 0 32px #F3BB1A, inset 0 0 32px #F3BB1A; }
  50% { box-shadow: 0 0 64px #F3BB1A, inset 0 0 56px #F3BB1A; }
  100% { box-shadow: 0 0 32px #F3BB1A, inset 0 0 32px #F3BB1A; }
}

.inner {
  width: 350px;
  height: 350px;
  border-radius: 200px;
  box-shadow: 0 0 16px #F3BB1A, inset 0 0 16px #F3BB1A;
  animation: pulse 2s linear 1s infinite;
}

/* Loader Effect */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.124);
  backdrop-filter: blur(5px);
  z-index: 9999;
}

/* Wheel Styling */

#wheelOfFortune {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

#wheel {
  display: block;
}

#spin {
  font: 1.5em/0 sans-serif;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  height: 30%;
  margin: -15%;
  background: #fff;
  color: #fff;
  box-shadow: 0 0 0 8px currentColor, 0 0px 15px 5px rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  transition: 0.8s;
}

#spin::after {
  content: '';
  position: absolute;
  top: -17px;
  border: 10px solid transparent;
  border-bottom-color: currentColor;
  border-top: none;
}

/* Modal Styling */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafb;
  font-size: 70%;
  line-height: 1.4;
  font-family: "Inter", sans-serif;
  color: #6b7280;
  font-weight: 400;
}

@media only screen and (min-width: 600px) {
  body {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    font-size: 100%;
  }
}

/* -------------- BUTTON */
.button {
  appearance: none;
  background: #16a34a;
  border-radius: 0.25em;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  height: 3em;
  line-height: 3em;
  padding: 0 1em;
}

.button:hover {
  background-color: #19b14d;
}

/* -------------- DETAILS MODAL */
.details-modal {
  background: #ffffff;
  border-radius: 0.5em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  left: 50%;
  max-width: 90%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30em;
  text-align: left;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
}

/* -------------- CLOSE */
.details-modal-close {
  align-items: center;
  color: #111827;
  display: flex;
  height: 4.5em;
  justify-content: center;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 4.5em;
}

.details-modal-close svg {
  display: block;
}

/* -------------- TITLE */
.details-modal-title {
  color: #111827;
  padding: 1.5em 2em;
  pointer-events: all;
  position: relative;
  width: calc(100% - 4.5em);
}

.details-modal-title h1 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: normal;
}

/* -------------- CONTENT */
.details-modal-content {
  border-top: 1px solid #e0e0e0;
  padding: 2em;
  pointer-events: all;
  overflow: auto;
}

/* -------------- OVERLAY */
.details-modal-overlay {
  transition: opacity 0.2s ease-out;
  pointer-events: none;
  background: rgba(15, 23, 42, 0.8);
  position: fixed;
  opacity: 0;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

details[open] .details-modal-overlay {
  pointer-events: all;
  opacity: 0.5;
}

/* -------------- DETAILS */
details summary {
  list-style: none;
}

details summary:focus {
  outline: none;
}

details summary::-webkit-details-marker {
  display: none;
}

/* -------------- OTHER */
code {
  font-family: Monaco, monospace;
  line-height: 100%;
  background-color: #2d2d2c;
  padding: 0.1em 0.4em;
  letter-spacing: -0.05em;
  word-break: normal;
  border-radius: 7px;
  color: white;
  font-weight: normal;
  font-size: 1.75rem;
  position: relative;
  top: -2px;
}

.container {
  text-align: center;
  max-width: 40em;
  padding: 2em;
}

.container > h1 {
  font-weight: 700;
  font-size: 2rem;
  line-height: normal;
  color: #111827;
}

.container > p {
  margin-top: 2em;
  margin-bottom: 2em;
}

.container sup {
  font-size: 1rem;
  margin-left: 0.25em;
  opacity: 0.5;
  position: relative;
}
